name: MSBuild

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop
    paths:
      - '*/**'
      - '!./*'
      - './*.sln'
      - '!.github/**'

jobs:
  build:
    name: MSBuild
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Download a build artifact
      uses: actions/download-artifact@v4
      with:
        name: plugins
        path: MetroAts
        repository: winup-zhou/MetroAts
        github-token: ${{ secrets.ACCESS_TOKEN }}
      
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Setup Nuget
      uses: NuGet/setup-nuget@v1.2.0

    - name: Restore nuget packages
      run: nuget restore MetroAts.sln

    - name: MSBuild
      run: msbuild bve-autopilot.sln /m /p:configuration="Release" /p:platform="Any CPU" /p:OutputPath="./out/"
      shell: cmd

    - name: Collect artifact
      run: |
        ls -alR
        mkdir plugins/
        find . -type f -name 'bve-autopilot-lib.dll' | xargs mv --force --backup=numbered -t ./plugins/
        find . -type f -name 'MetroAtsBridge.dll' | xargs mv --force --backup=numbered -t ./plugins/
        rm plugins/*~
      shell: bash

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: plugins
        path: ./plugins/
